# Limpieza de bienes raíces

Este es un conjunto de datos (dataset) reales que fue descargado usando técnicas de web scraping. La data contiene registros de fotocasa, el cual es uno de los sitios mas populares de bienes raíces en España. Por favor no hagas estos (web scraping) a no ser que sea para propósitos académicos.

El dataset fue descargado hace algunos años por Henry Navarro y en ningún caso se obtuvo beneficio económico de ello.

Contiene miles de datos de casas reales publicadas en la web www.fotocasa.com. Tu objetivo es extraer tanta información como sea posible con el conocimiento que tienes hasta ahora de ciencia de datos, por ejemplo ¿cuál es la casa mas cara en todo el dataset?

Empecemos precisamente con esa pregunta... ¡Buena suerte!

Let's start with precisely that question... Good luck!

#### Ejercicio 00. Lee el dataset assets/real_estate.csv e intenta visualizar la tabla (★☆☆)

In [1]:
import pandas as pd

# this CSV file contains semicolons instead of comas as separator
ds = pd.read_csv('assets/real_estate.csv', sep=';')
print(ds)

       Unnamed: 0  id_realEstates  isNew                    realEstate_name  \
0               1       153771986  False            ferrari 57 inmobiliaria
1               2       153867863  False  tecnocasa fuenlabrada ferrocarril
2               3       153430440  False                 look find boadilla
3               4       152776331  False  tecnocasa fuenlabrada ferrocarril
4               5       153180188  False            ferrari 57 inmobiliaria
...           ...             ...    ...                                ...
15330       15331       153901377  False                infocasa consulting
15331       15332       150394373  False                inmobiliaria pulpon
15332       15333       153901397  False             tecnocasa torrelodones
15333       15334       152607440  False                inmobiliaria pulpon
15334       15335       153901356  False                infocasa consulting

       phone_realEstate                                       url_inmueble  \
0           912177526.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
1           916358736.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
2           916350408.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
3           916358736.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
4           912177526.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
...                 ...                                                ...
15330       911360461.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15331       912788039.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15332       912780348.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15333       912788039.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15334       911360461.0  https://www.fotocasa.es/es/comprar/vivienda/ma...

       rooms  bathrooms  surface   price  ... level4Id level5Id level6Id  \
0        3.0        2.0    103.0  195000  ...        0        0        0
1        3.0        1.0      NaN   89000  ...        0        0        0
2        2.0        2.0     99.0  390000  ...        0        0        0
3        3.0        1.0     86.0   89000  ...        0        0        0
4        2.0        2.0    106.0  172000  ...        0        0        0
...      ...        ...      ...     ...  ...      ...      ...      ...
15330    2.0        1.0     96.0  259470  ...        0        0        0
15331    3.0        1.0    150.0  165000  ...        0        0        0
15332    4.0        2.0    175.0  495000  ...        0        0        0
15333    3.0        2.0    101.0  195000  ...        0        0        0
15334    3.0        2.0    152.0  765000  ...        0        0        0

      level7Id level8Id accuracy          latitude          longitude zipCode  \
0            0        0        0  40,2948276786438  -3,44402412135624     NaN
1            0        0        1          40,28674           -3,79351     NaN
2            0        0        0  40,4115646786438  -3,90662252135624     NaN
3            0        0        0  40,2853785786438  -3,79508142135624     NaN
4            0        0        0  40,2998774864376  -3,45226301356237     NaN
...        ...      ...      ...               ...                ...     ...
15330        0        0        0          40,45416           -3,70286     NaN
15331        0        0        0          40,36652           -3,48951     NaN
15332        0        0        0          40,57444           -3,92124     NaN
15333        0        0        0          40,36967           -3,48105     NaN
15334        0        0        0          40,45773           -3,69068     NaN

      customZone
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
15330        NaN
15331        NaN
15332        NaN
15333        NaN
15334        NaN

[15335 rows x 37 columns]

#### Ejercicio 01. ¿Cuál es la casa mas cara en el todo el dataset? (★☆☆)

Imprime la direccion y el precio de la casa seleccionada. Por ejemplo:

`The house with address General Street Nº5 is the most expensive and its price is 5000000 USD`

In [17]:
import pandas as pd
ds = pd.read_csv('assets/real_estate.csv', sep=';')
dt = pd.DataFrame(ds)
maximo = max(ds['price'])
(dt.loc[dt['price']==max(dt.price)].address)

print('The house with address', (dt.loc[dt['price']==max(dt.price)].address), 'is the most expensive and its price is', maximo, 'USD')

The house with address 13110    El Escorial
Name: address, dtype: object is the most expensive and its price is 8500000 USD

#### Ejercicio 02. ¿Cuál es la casa mas barata del dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada. Por ejemplo:

`The house with address Concrete Street Nº1 is the cheapest and its price is 12000 USD`

In [42]:
# TODO
import pandas as pd
ds = pd.read_csv('assets/real_estate.csv', sep=';')
dt = pd.DataFrame(ds)
df = dt.drop(dt[((dt['price'] == 0))].index)

print('The house with address ', (df.loc[df['price']== min(df.price)].address), 'is the cheapest and its price is ', min(df['price']), 'USD')

The house with address  7491    Berlin, Coslada
Name: address, dtype: object is the cheapest and its price is  600 USD

#### Ejercicio 03. ¿Cuál es la casa mas grande y la mas pequeña del dataset? (★☆☆)

Imprime la dirección y el area de las casas seleccionadas. Por ejemplo:

`The bigger house is located on Yukka Street Nº10 and its surface is 5000 meters`

`The smaller house is located on County Road 1 N and its surface is 200 meters`

In [49]:
# TODO
import pandas as pd
ds = pd.read_csv('assets/real_estate.csv', sep=';')
dt = pd.DataFrame(ds)

print('The bigger house is located on ', (dt.loc[dt['surface']==max(dt.surface)].address),'and its surface is ', max(df['surface']))
print('The smaller house is located on ', (dt.loc[dt['surface']==min(dt.surface)].address),'and its surface is ', min(df['surface']))

The bigger house is located on  6794    Sevilla la Nueva
Name: address, dtype: object and its surface is  249000.0
The smaller house is located on  498    Calle Amparo,  Madrid Capital
Name: address, dtype: object and its surface is  15.0

#### Ejercicio 04. ¿Cuantas poblaciones (columna level5) contiene el dataset? (★☆☆)

Imprime el nombre de las poblaciones separadas por coma. Por ejemplo:

`> print(populations)`

`population1, population2, population3,...`

In [15]:
# TODO
import pandas as pd
ds = pd.read_csv('assets/real_estate.csv', sep=';')
dt = pd.DataFrame(ds)

nivel5 = dt['level5'].unique
print(nivel5())

['Arganda del Rey' 'Fuenlabrada' 'Boadilla del Monte'
 'Las Rozas de Madrid' ' Madrid Capital' 'Villaviciosa de Odón' 'Pinto'
 'Valdemoro' 'Navalcarnero' 'Pozuelo de Alarcón' 'Torrejón de Ardoz'
 'Navalagamella' 'San Sebastián de los Reyes' 'Rivas-vaciamadrid'
 'Alpedrete' 'Móstoles' 'San Fernando de Henares' 'Coslada'
 'Becerril de la Sierra' 'Alcalá de Henares' 'Chinchón' 'Parla' 'Alcorcón'
 'El Escorial' 'Leganés' 'Pedrezuela' 'Majadahonda'
 'Villanueva de la Cañada' 'Villanueva del Pardillo' 'Torrelodones'
 'Moralzarzal' 'Mejorada del Campo' 'Aranjuez' 'Corpa' 'Getafe'
 'Velilla de San Antonio' 'Sevilla la Nueva' 'San Martín de la Vega'
 'Villalbilla' 'Collado Villalba' 'Alcobendas' 'El Molar (Madrid)'
 'Moraleja de Enmedio' 'Algete' 'Campo Real' 'Torrejón de la Calzada'
 'Colmenar Viejo' 'Valdemorillo' 'Fuente El Saz de Jarama' 'Tres Cantos'
 'Arroyomolinos (Madrid)' 'Griñón' 'Paracuellos de Jarama' 'Guadarrama'
 'Titulcia' 'Galapagar' 'Collado Mediano' 'Los Molinos'
 'San Lorenzo de El Escorial' 'Loeches' 'San Martín de Valdeiglesias'
 'Navas del Rey' 'Bustarviejo' 'Manzanares El Real' 'Carabaña'
 'Casarrubuelos' 'Cercedilla' 'Fresnedillas de la Oliva' 'Valdemaqueda'
 'Robledo de Chavela' 'Miraflores de la Sierra' 'Humanes de Madrid'
 'Valdetorres de Jarama' 'San Agustín del Guadalix' 'Ciempozuelos'
 'Camarma de Esteruelas' 'Torres de la Alameda' 'Talamanca de Jarama'
 'El Atazar' 'Hoyo de Manzanares' 'El Boalo - Cerceda – Mataelpino'
 'El Álamo' 'Valdilecha' 'Valdeolmos-Alalpardo' 'Guadalix de la Sierra'
 'Belmonte de Tajo' 'El Vellón' 'Brunete' 'Redueña' 'Morata de Tajuña'
 'Tielmes' 'Gargantilla del Lozoya' 'Meco' 'Venturada' 'Quijorna'
 'Cenicientos' 'Torrejón de Velasco' 'Navacerrada'
 'Santa María de la Alameda' 'Orusco de Tajuña' 'Daganzo de Arriba'
 'Villamanta' 'Anchuelo' 'Valdaracete' 'Ajalvir' 'Los Santos de la Humosa'
 'Villamanrique de Tajo' 'Colmenar de Oreja' 'Villa del Prado'
 'Fuentidueña de Tajo' 'Colmenar del Arroyo' 'Valdelaguna'
 'Cubas de la Sagra' 'Valdeavero' 'Aldea del Fresno' 'Ribatejada'
 'Torrelaguna' 'Batres' 'Pezuela de las Torres' 'Colmenarejo'
 'Serranillos del Valle' 'Cobeña' 'Soto del Real' 'El Berrueco'
 'Villanueva de Perales' 'Fresno de Torote - Serracines' 'Pozuelo del Rey'
 'Pelayos de la Presa' 'La Cabrera' 'Nuevo Baztán' 'Perales de Tajuña'
 'Villaconejos' 'Villarejo de Salvanés' 'Cadalso de los Vidrios'
 'Santorcaz' 'Madarcos' 'Garganta de los Montes' 'Puentes Viejas'
 'Torremocha de Jarama' 'Valdemanco' 'Braojos'
 'Lozoyuela-navas-sieteiglesias' 'Piñuécar-gandullas' 'Valdepiélagos'
 'Valverde de Alcalá' 'Villar del Olmo' 'Villamantilla'
 'Horcajo de la Sierra' 'Gascones' 'Zarzalejo' 'Villavieja del Lozoya'
 'Brea de Tajo' 'Estremera' 'Chapinería' 'Navarredonda' 'Patones' 'Ambite'
 'Navalafuente' 'Lozoya' 'Canencia' 'Cabanillas de la Sierra'
 'Buitrago del Lozoya' 'Fresno de Torote' 'Robregordo' 'Pinilla del Valle'
 'Rascafría' 'La Hiruela' 'Montejo de la Sierra']

#### Ejercicio 05. ¿El data set contiene valores no admitidos (NAs)? (★☆☆)

Imprima un booleano (`true` o `fase`) seguido de la fila/columna que contiene el NAs.

In [27]:
# TODO
import pandas as pd
ds = pd.read_csv('assets/real_estate.csv', sep=';')
dt = pd.DataFrame(ds)
print(dt.notna)

<bound method DataFrame.notna of        Unnamed: 0  id_realEstates  isNew                    realEstate_name  \
0               1       153771986  False            ferrari 57 inmobiliaria
1               2       153867863  False  tecnocasa fuenlabrada ferrocarril
2               3       153430440  False                 look find boadilla
3               4       152776331  False  tecnocasa fuenlabrada ferrocarril
4               5       153180188  False            ferrari 57 inmobiliaria
...           ...             ...    ...                                ...
15330       15331       153901377  False                infocasa consulting
15331       15332       150394373  False                inmobiliaria pulpon
15332       15333       153901397  False             tecnocasa torrelodones
15333       15334       152607440  False                inmobiliaria pulpon
15334       15335       153901356  False                infocasa consulting

       phone_realEstate                                       url_inmueble  \
0           912177526.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
1           916358736.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
2           916350408.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
3           916358736.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
4           912177526.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
...                 ...                                                ...
15330       911360461.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15331       912788039.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15332       912780348.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15333       912788039.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15334       911360461.0  https://www.fotocasa.es/es/comprar/vivienda/ma...

       rooms  bathrooms  surface   price  ... level4Id level5Id level6Id  \
0        3.0        2.0    103.0  195000  ...        0        0        0
1        3.0        1.0      NaN   89000  ...        0        0        0
2        2.0        2.0     99.0  390000  ...        0        0        0
3        3.0        1.0     86.0   89000  ...        0        0        0
4        2.0        2.0    106.0  172000  ...        0        0        0
...      ...        ...      ...     ...  ...      ...      ...      ...
15330    2.0        1.0     96.0  259470  ...        0        0        0
15331    3.0        1.0    150.0  165000  ...        0        0        0
15332    4.0        2.0    175.0  495000  ...        0        0        0
15333    3.0        2.0    101.0  195000  ...        0        0        0
15334    3.0        2.0    152.0  765000  ...        0        0        0

      level7Id level8Id accuracy          latitude          longitude zipCode  \
0            0        0        0  40,2948276786438  -3,44402412135624     NaN
1            0        0        1          40,28674           -3,79351     NaN
2            0        0        0  40,4115646786438  -3,90662252135624     NaN
3            0        0        0  40,2853785786438  -3,79508142135624     NaN
4            0        0        0  40,2998774864376  -3,45226301356237     NaN
...        ...      ...      ...               ...                ...     ...
15330        0        0        0          40,45416           -3,70286     NaN
15331        0        0        0          40,36652           -3,48951     NaN
15332        0        0        0          40,57444           -3,92124     NaN
15333        0        0        0          40,36967           -3,48105     NaN
15334        0        0        0          40,45773           -3,69068     NaN

      customZone
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
15330        NaN
15331        NaN
15332        NaN
15333        NaN
15334        NaN

[15335 rows x 37 columns]>

#### Ejercicio 06. Elimina los NAs del data set, si aplica (★★☆)

Imprima una comparación entre las dimensiones del DataFrame original versus el DataFrame después de las eliminaciones.

In [28]:
# TODO
import pandas as pd
ds = pd.read_csv('assets/real_estate.csv', sep=';')
dt = pd.DataFrame(ds)
noNa = dt.dropna
print(noNa)

<bound method DataFrame.dropna of        Unnamed: 0  id_realEstates  isNew                    realEstate_name  \
0               1       153771986  False            ferrari 57 inmobiliaria
1               2       153867863  False  tecnocasa fuenlabrada ferrocarril
2               3       153430440  False                 look find boadilla
3               4       152776331  False  tecnocasa fuenlabrada ferrocarril
4               5       153180188  False            ferrari 57 inmobiliaria
...           ...             ...    ...                                ...
15330       15331       153901377  False                infocasa consulting
15331       15332       150394373  False                inmobiliaria pulpon
15332       15333       153901397  False             tecnocasa torrelodones
15333       15334       152607440  False                inmobiliaria pulpon
15334       15335       153901356  False                infocasa consulting

       phone_realEstate                                       url_inmueble  \
0           912177526.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
1           916358736.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
2           916350408.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
3           916358736.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
4           912177526.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
...                 ...                                                ...
15330       911360461.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15331       912788039.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15332       912780348.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15333       912788039.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
15334       911360461.0  https://www.fotocasa.es/es/comprar/vivienda/ma...

       rooms  bathrooms  surface   price  ... level4Id level5Id level6Id  \
0        3.0        2.0    103.0  195000  ...        0        0        0
1        3.0        1.0      NaN   89000  ...        0        0        0
2        2.0        2.0     99.0  390000  ...        0        0        0
3        3.0        1.0     86.0   89000  ...        0        0        0
4        2.0        2.0    106.0  172000  ...        0        0        0
...      ...        ...      ...     ...  ...      ...      ...      ...
15330    2.0        1.0     96.0  259470  ...        0        0        0
15331    3.0        1.0    150.0  165000  ...        0        0        0
15332    4.0        2.0    175.0  495000  ...        0        0        0
15333    3.0        2.0    101.0  195000  ...        0        0        0
15334    3.0        2.0    152.0  765000  ...        0        0        0

      level7Id level8Id accuracy          latitude          longitude zipCode  \
0            0        0        0  40,2948276786438  -3,44402412135624     NaN
1            0        0        1          40,28674           -3,79351     NaN
2            0        0        0  40,4115646786438  -3,90662252135624     NaN
3            0        0        0  40,2853785786438  -3,79508142135624     NaN
4            0        0        0  40,2998774864376  -3,45226301356237     NaN
...        ...      ...      ...               ...                ...     ...
15330        0        0        0          40,45416           -3,70286     NaN
15331        0        0        0          40,36652           -3,48951     NaN
15332        0        0        0          40,57444           -3,92124     NaN
15333        0        0        0          40,36967           -3,48105     NaN
15334        0        0        0          40,45773           -3,69068     NaN

      customZone
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
15330        NaN
15331        NaN
15332        NaN
15333        NaN
15334        NaN

[15335 rows x 37 columns]>

#### Ejercicio 07. ¿Cuál la media de precios en la población (columna level5) de "Arroyomolinos (Madrid)"? (★★☆)

Imprima el valor obtenido

In [ ]:
# TODO

#### Ejercicio 08. Trazar el histograma de los precios para la población (level5 column) de "Arroyomolinos (Madrid)" y explica qué observas (★★☆)

Imprime el histograma de los precios y escribe en la celda del Markdown un breve análisis del trazado.

In [ ]:
# TODO: Code

**TODO: Markdown**. Para escribir aquí, has doble click en este celda y elimina este contenido y coloca lo que quieras escribir. Luego ejecuta la celda.

#### Ejercicio 09. ¿ Son los precios promedios de "Valdemorillo" y "Galapagar" los mismos? (★★☆)

Imprime ambos promedio y escribe una conclusion acerca de ellos

In [ ]:
# TODO

#### Ejercicio 10. ¿Son los promedios de precio por metro cuadrado (price/m2) de "Valdemorillo" y "Galapagar" los mismos? (★★☆)

Imprime ambos promedios de precio y escribe una conclusion acerca de ellos.

Pista: Crea una nueva columna llamada `pps` (price per square) y luego analiza los valore.s

In [ ]:
# TODO

#### Ejercicio 11. Analiza la relación entre la superficie y el precio de las casas. (★★☆)

Pista: Puedes hacer un `scatter plot` y luego escribir una conclusion al respecto.

In [ ]:
# TODO: Código

**TODO: Markdown**. Escribe aquí, haz doble click en este celda y elimina este contenido y reemplázalo por el texto que quires escribir. Luego ejecuta la celda.

#### Ejercicio 12. ¿Cuántas agencia de bienes raíces contiene el dataset? (★★☆)

Imprime el valor obtenido.

In [ ]:
# TODO

#### Ejercicio 13. ¿Cuál es la población (columna level5) que contiene la mayor cantidad de casas?(★★☆)

Imprima la población y el número de casas.

In [ ]:
# TODO

#### Ejercicio 14. Ahora vamos a trabajar con el "cinturón sur" de Madrid. Has un subconjunto del Dataframe original que contenga las siguientes poblaciones (columna level5): "Fuenlabrada","Leganés","Getafe","Alcorcón" (★★☆)

Pista: Filtra el Dataframe original usando la columna `level5` y la función `isin`

In [ ]:
# TODO

#### Ejercicio 15. Traza un gráfico de barra de la media de los precios y explica lo que observas (debes usar el subconjunto obtenido de la pregunta 14) (★★★)

Imprima un gráfico de barra de la media de precios y escriba en la celda Markdown un breve análisis del sector.

In [ ]:
# TODO: Code

**TODO: Markdown**. Para escribir aquí, has doble click en esta celda, elimina este contenido y coloca en su lugar el texto que quieres escribir. Luego, ejecuta la celda.

#### Ejercicio 16. Calcula la media y la varianza dela muestra para las siguientes variables: precio, habitaciones, superficie y baños (debes usar el subconjunto obtenido en la pregunta 14) (★★★)

Imprime ambos valores por  cada variable.

In [ ]:
# TODO

#### Exercise 17. What is the most expensive house of each population? You must use the subset obtained in the question 14 (★★☆)

Print both the address and the price of the selected house of each population. You can print a DataFrame or a single line for each population

In [ ]:
# TODO

#### Exercise 18. Normalize the variable of prices for each population and plot the 4 histograms in the same plot (you must use the subset obtained in the question 14) (★★★)

For the normalization method you can use the one you consider to, there is not a single correct answer to this question. Print the plot and write in the Markdown cell a brief analysis about the plot

Hint: You can help yourself reviewing the multihist demo of Matplotlib

In [ ]:
# TODO

**TODO: Markdown**. To write here, double click to this cell and just remove this content and place the text you want to write. Then, execute the cell.

#### Exercise 19. What can you say about the price per square meter (price/m2) between the towns of "Getafe" and "Alcorcón"? You must use the subset obtained in the question 14 (★★☆)

Hint: Create a new column called `pps` (price per square) and then analyse the values

In [ ]:
# TODO

#### Exercise 20. Make the same plot for 4 different populations (level5 column) and rearrange them on the same graph? You must use the subset obtained in the question 14 (★★☆) 
Hint: make a scatter plot of each population using subplots.

In [ ]:
# TODO

#### Ejercicio 21. Realiza un trazado de las coordenadas (columnas latitud y longitud) del cinturón ur de Madrid por color d cada población (debes usar el subconjunto obtenido en la pregunta 14) (★★★★)

Ejecuta la siguiente celda y luego comienza a codear en la siguiente. Debes implementar u código simple que transforme las columnas de coordenadas en un diccionario de python (agrega más información si es necesario) y agrégala al mapa.

In [ ]:
from ipyleaflet import Map, basemaps

# Mapa centrado en (60 grados latitud et -2.2 grados longitud)
# Latitud, longitud
map = Map(center = (60, -2.2), zoom = 2, min_zoom = 1, max_zoom = 20, 
    basemap=basemaps.Stamen.Terrain)
map

In [ ]:
## Aquí: traza la coordenadas de los estados

## PON TU CÓDIGO AQUÍ: